#gameScreen {
    position: relative;
    background-image: url("../images/background/BG.png");
    background-size: 100%;
    height: 320px;
    width: 614px;
    margin: 0 auto;
}

#cnv {
    width: 100%;
}

#controller {
    width: 100%;
    padding: 10px;
}
